html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  user-select: none;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  margin: 0;
}

body {
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.content {
  flex-grow: 1;
}

.mypick_wrapper {
  display: Flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard SemiBold'),
    url('./woff2/Pretendard-SemiBold.woff2') format('woff2'),
    url('./woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url('./woff2/Pretendard-Regular.woff2') format('woff2'),
    url('./woff/Pretendard-Regular.woff') format('woff');
}
