@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
/* @import url('./reset.css'); */

html {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Pretendard';
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Pretendard';
  user-select: none;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

body {
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.content {
  /* width: 1216px; */
  flex-grow: 1;
}

.mypick_wrapper {
  display: Flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
