@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  height: 100vh;
  max-width: 100vw;
  font-family: 'Pretendard';
  user-select: none;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.content {
  min-height: calc(100% - 560px);
}
